/* styleguide */
:root {
  --primary-darkblue05: hsla(229, 85%, 24%, 1);
  --primary-darkblue04: hsla(229, 85%, 35%, 1);
  --primary-darkblue03: hsla(229, 46%, 57%, 1);
  --primary-darkblue02: hsla(229, 46%, 78%, 1);
  --primary-darkblue01: hsla(230, 45%, 87%, 1);
  --primary-limegreen05: hsla(122, 34%, 36%, 1);
  --primary-limegreen04: hsla(122, 39%, 54%, 1);
  --primary-limegreen03: hsla(122, 40%, 69%, 1);
  --primary-limegreen02: hsla(122, 38%, 85%, 1);
  --primary-limegreen01: hsla(123, 40%, 91%, 1);

  /* Alert */
  --danger: hsla(347, 95%, 58%, 1);
  --warning: hsla(49, 100%, 49%, 1);
  --success: hsla(107, 51%, 58%, 1);

  /* neutral */
  --neutral05: hsla(0, 0%, 8%, 1);
  --neutral04: hsla(0, 0%, 24%, 1);
  --neutral03: hsla(0, 0%, 54%, 1);
  --neutral02: hsla(0, 0%, 82%, 1);
  --neutral01: hsla(0, 0%, 100%, 1);

  /* shadow */
  --shadow-low: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* button styleguide */
.btn-primary {
  background: var(--primary-limegreen04) !important;
  border: none !important;
}

/* a href */
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.navbar-brand {
  width: 6.25rem;
  height: 2.125rem;
  flex-shrink: 0;
}

.custom-navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

/* jumbotron */
.jumbotron p {
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.gambar-jumbotron {
  width: 39rem;
  flex-shrink: 0;
}

/* best car rental */
.best-car-rental p {
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.image-service {
  width: 28.6875rem;
  height: 26.75rem;
  flex-shrink: 0;
}

/* why us */
.card {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--neutral-02, #d0d0d0);
}

.card-title {
  color: #000;

  /* Title/16/Bold */
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.card-body {
  width: 13.75rem;
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
  padding: 0 !important;
}

/* all section */
.section-desc {
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

/* testimonial */
.testimonial {
  width: 38.6875rem;
  height: 16.875rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden; /* Hide overflow content */
}

.testimonial-content-body {
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.testimonial-source {
  color: #000;

  /* Body/14/Regular */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

/* cta */
.cta {
  background: var(--primary-darkblue04);
  color: white;
}

.cta-heading {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3.375rem */
}

.cta-body {
  color: var(--neutral-01, #fff);

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
  width: 29.25rem;
}

/* faq */
.faq-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-button {
  border-radius: 0.25rem;
  border: 1px solid #d4d4d4;
  background: #fff;

  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.info-binar {
  width: 16.75rem;
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.nav-footer {
  color: #000;

  /* Body/14/Regular */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

/* responsive */
