/* styleguide */
:root {
  --primary-darkblue05: hsla(229, 85%, 24%, 1);
  --primary-darkblue04: hsla(229, 85%, 35%, 1);
  --primary-darkblue03: hsla(229, 46%, 57%, 1);
  --primary-darkblue02: hsla(229, 46%, 78%, 1);
  --primary-darkblue01: hsla(230, 45%, 87%, 1);
  --primary-limegreen05: hsla(122, 34%, 36%, 1);
  --primary-limegreen04: hsla(122, 39%, 54%, 1);
  --primary-limegreen03: hsla(122, 40%, 69%, 1);
  --primary-limegreen02: hsla(122, 38%, 85%, 1);
  --primary-limegreen01: hsla(123, 40%, 91%, 1);

  /* Alert */
  --danger: hsla(347, 95%, 58%, 1);
  --warning: hsla(49, 100%, 49%, 1);
  --success: hsla(107, 51%, 58%, 1);

  /* neutral */
  --neutral05: hsla(0, 0%, 8%, 1);
  --neutral04: hsla(0, 0%, 24%, 1);
  --neutral03: hsla(0, 0%, 54%, 1);
  --neutral02: hsla(0, 0%, 82%, 1);
  --neutral01: hsla(0, 0%, 100%, 1);

  /* shadow */
  --shadow-low: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Global Styles */
a {
  text-decoration: none !important;
  color: black;
}

ul,
ol {
  list-style-type: none;
}

.custom-header {
  background-color: #f1f3ff !important;
}

header {
  @extend .custom-header;
}

/* Primary Button */
.btn-primary {
  background: var(--primary-limegreen04) !important;
  border: none !important;
}

/* Navbar Styles */
.navbar-brand {
  width: 6.25rem;
  height: 2.125rem;
  flex-shrink: 0;
}

.custom-navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.nav-link {
  color: #000;

  /* Body/14/Regular */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

/* Common Text Styles */
.jumbotron p,
.best-car-rental p,
.section-desc,
.testimonial-content-body,
.testimonial-source,
.info-binar,
.nav-footer-wrapper {
  color: #000;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
  font-style: normal;
  font-size: 0.875rem;
}

.jumbotron p {
  font-weight: 300;
}

/* Jumbotron and Image Styles */
.gambar-jumbotron {
  width: 39.5rem;
  flex-shrink: 0;
}

.image-service {
  width: 28.6875rem;
  height: 26.75rem;
  flex-shrink: 0;
}

/* Why us */
/* why us */
.card {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--neutral-02, #d0d0d0);
}

.card-title {
  color: #000;

  /* Title/16/Bold */
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.card-body {
  width: 13.75rem;
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
  padding: 0 !important;
}

/* Testimonial Styles */
.img-testimonial {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}
.testimonial {
  width: 36rem;
  height: 16.875rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-testimonial-content {
  width: 25.9375rem;
}

.testimonial-source {
  font-weight: 400;
}

/* Testimonial Container */
.testimonial-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Apply overflow hidden to the first and third testimonials */
.testimonial-container .testimonial:first-child,
.testimonial-container .testimonial:nth-child(3) {
  overflow: hidden;
  position: relative;
}

/* Adjust the width of the testimonials to make space for hidden content */
.testimonial-container .testimonial:first-child,
.testimonial-container .testimonial:nth-child(3) {
  width: 25.5%;
}

.first-testimonial {
  position: relative;
  right: 100px;
}

.third-testimonial {
  position: relative;
  left: 120px;
}

/* Your existing CSS styles here */

/* Custom Carousel Control Styles */
.custom-carousel-control-prev,
.custom-carousel-control-next {
  background: transparent; /* Transparent background */
  border: none; /* Remove border */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .custom-carousel-control-prev img,
.custom-carousel-control-next img {
  width: 100%; 
  height: auto; 
}

.custom-carousel-control-prev:hover,
.custom-carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */

/* CTA Styles */
.cta {
  background: var(--primary-darkblue04);
  color: white;
}

.cta-heading {
  font-family: Helvetica;
  font-weight: 700;
  line-height: 150%;
}

.cta-body {
  width: 29.25rem;
}

/* FAQ Styles */
.faq-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-button {
  border-radius: 0.25rem;
  border: 1px solid #d4d4d4;
  background: #fff;
  font-weight: 300;
}

/* Footer Styles */
.nav-footer-wrapper {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.nav-footer {
  color: #000;

  /* Body/14/Regular */
  font-family: Helvetica;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

/* cari mobil */
.container-cari-mobil {
  position: relative;
}

.container-cari-mobil .jumbotron {
  z-index: 1;
}

.container-cari-mobil .search-floating {
  z-index: 2;
  width: 1047px;
  height: 106px;
  flex-shrink: 0;
  position: relative;
  border-radius: 8px;
  background: var(--neutral-01, #fff);

  /* Shadow/High */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  left: 90px;
  top: -30px;
}

.search-floating form {
  display: flex;
}

.container-cari-mobil footer {
  z-index: 3;
  margin-top: 108px;
}
